<h1>Please Sign In</h1>
<%= form_with url: sessions_path, local: true do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'whois@joe.com' %>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: 'joeMAMA' %>
    <%= f.submit 'Sign In' %>
<% end %>